<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>
  <head>
    <title>რეგისტრაცია</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2>რეგისტრაცია</h2>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="name">სახელი:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="მიუთითეთ სახელი">
        </div>
        <div class="form-group">
          <label for="surname">გვარი:</label>
          <input type="text" class="form-control" id="surname" name="surname" placeholder="მიუთითეთ გვარი">
        </div>
        <div class="form-group">
          <label for="email">ელ-ფოსტა:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="მიუთითეთ ელ-ფოსტა">
        </div>
        <div class="form-group">
          <label for="

</body>
</html>